body {
  background-color: #F5EBD5;
}
/* Navbar Css */
.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h2 {
  padding-left: 30px;
}
.navbar .buttons {
  display: inline-flex;
  justify-content: right;
}
.navbar Button {
  text-transform: none;
  margin:10px;
  background-color: #FFF;
  color: black;
}
.reddit {
  width: 92vw;
  background-color: rgba(89,85,72,.1) !important;
  margin:auto;
  border-radius: 1vw;
  padding: .5vw;
}
.reddit h1 {
  text-align: center;
}
.reddit .MuiCard-root {
  background-color: rgba(89,85,72,.1) !important;
  width:30vh;
  height:fit-content;
  margin: 2vh;
}
.reddit .cards{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.reddit .redditimg{
  height:27vh;
  width:27vh;
  border-radius: 20px;
  object-fit:contain;
}
a {
  text-decoration: none;
}